<h3>{{title}}</h3>


<!--*ngIf=products; else noProduct | ürünler varsa göster yoksa gösterme.
     <ngTemplate #noProduct>
          <div class="alert alert-primary" role="alert">
               Bu kategoride ürün yoktur.
          </div>
     </ngTemplate>
-->
<div class="form-group">
     <input  class="form-control" placeholder="Ürün Ara" [(ngModel)]="filterText">
</div>
<div class="row">
     <div class="card" style="width: 18rem;" *ngFor="let product of products | productFilter:filterText">
          <img class="card-img-top" [src]="product.imageURL" alt="Card image cap">
          <div class="card-body">
               <h5 class="card-title">{{product.name}} {{product.price | currency }}</h5>
               <p class="card-text">{{product.description}}</p>
               <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
     </div>
     

</div>